<div class="container-fluid">
  <!-- Small boxes (Stat box) -->
  <div class="row mt-3">
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-info">
        <div class="inner">
          <h3><%-data.totalNoOfTechnician%></h3>

          <p>No. of Technicians</p>
        </div>
        <div class="icon">
          <i class="ion ion-bag"></i>
        </div>
        <a
          href="<%= '/admin' + generateUrl('technician-table-page')%>"
          class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-success">
        <div class="inner">
          <h3><%-data.totalNoOfActiveTechnician%></h3>

          <p>No. of Active Technicians</p>
        </div>
        <div class="icon">
          <i class="ion ion-stats-bars"></i>
        </div>
        <a
          href="<%= '/admin' + generateUrl('technician-table-page')%>"
          class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-danger">
        <div class="inner">
          <h3><%-data.totalNoOfPedingBookings%></h3>

          <p>No. of Pending Bookings</p>
        </div>
        <div class="icon">
          <i class="ion ion-pie-graph"></i>
        </div>
        <a
          href="<%= '/admin' + generateUrl('booking-table-page')%>"
          class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-warning">
        <div class="inner">
          <h3><%-data.totalNoOfCompletedBookings%></h3>

          <p>No. of Completed Bookings</p>
        </div>
        <div class="icon">
          <i class="ion ion-person-add"></i>
        </div>
        <a
          href="<%= '/admin' + generateUrl('booking-table-page')%>"
          class="small-box-footer"
          >More info <i class="fas fa-arrow-circle-right"></i
        ></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
</div>
